/* reset */
* {
    padding: 0;
    margin: 0;
    /* border: none; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* tags */
div {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgb(66, 66, 66, 0.8);
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgba(247, 1, 1, 0.801), rgb(163, 0, 163));
    background-repeat: no-repeat;
}

header {
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

main {
    padding: 15px;
}

footer {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

/* classes */
.display {
    max-width: 960px;
    margin: 0 auto;
}

.password {
    color: rgb(66, 66, 66);
    font-size: 5em;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.counter {
    color: rgb(66, 66, 66);
    font-size: 2em;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.grid {
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
}

.buttons {
    font-size: 20px;
    background-color: rgb(247, 1, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.buttons:hover {
    background-color: rgb(230, 61, 0);
}
